<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:columns -->
<div class="wp-block-columns w-5/6 m-auto"><!-- wp:column {"width":"25%"} -->
<nav class="wp-block-column prose-base leading-5" style="flex-basis:25%"><!-- wp:heading -->
<h2 id="topics">Topics</h2>
<!-- /wp:heading -->

<!-- wp:page-list /--></nav>
<!-- /wp:column -->

<!-- wp:column {"width":"75%","className":"red-500"} -->
<div class="wp-block-column prose-base" style="flex-basis:75%"><!-- wp:post-title /-->

<!-- wp:post-content /-->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:post-navigation-link {"type":"previous"} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:post-navigation-link /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->